@model Mvc.Models.LoginDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-lg-4 col-md-5 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Giriş Yap</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Kullanıcı Adı veya Mail</label>
                        <input asp-for="EmailOrUserName" type="text" name="EmailOrUserName" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label>Şifre</label>
                        <input asp-for="Password" type="text" name="Password" class="form-control">
                    </div>
                    <div class="form-group mt-2 text-end">
                        <button class="btn btn-dark w-100 mb-1">
                            Giriş Yap
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>