<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mvc</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="/AdminLTE/index3.html" class="brand-link text-center">
            <span class="brand-text font-weight-light">ONICORN</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="info">
                    @if (Context.Request.Cookies["Role"] == "admin")
                    {
                        <span style="color: white">ADMIN</span>
                    }
                    @if (Context.Request.Cookies["Role"] == "manager")
                    {
                        <span style="color: white">YÖNETİCİ</span>
                    }
                    @if (Context.Request.Cookies["Role"] == "coordinator")
                    {
                        <span style="color: white">KORDİNATÖR</span>
                    }
                    @if (Context.Request.Cookies["Role"] == "salesperson")
                    {
                        <span style="color: white">SATIŞ</span>
                    }
                    @if (Context.Request.Cookies["Role"] == null)
                    {
                        <span style="color: white">--</span>
                    }
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    @if (Context.Request.Cookies["AccessToken"] != null)
                    {
                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>Ana Sayfa</p>
                            </a>
                        </li>
                        @if (Context.Request.Cookies["Role"]!.Contains("admin") || Context.Request.Cookies["Role"]!.Contains("manager") || Context.Request.Cookies["Role"]!.Contains("coordinator"))
                        {
                            <li class="nav-item">
                                <a href="/Announcements/Index" class="nav-link">
                                    <i class="nav-icon fas fa-microphone"></i>
                                    <p>Duyurular</p>
                                </a>    
                            </li>
                            <li class="nav-item">
                                <a href="/Tasks/Index" class="nav-link">
                                    <i class="nav-icon fas fa-tasks"></i>
                                    <p>Görevler</p>
                                </a>    
                            </li>
                            <li class="nav-item">
                                <a href="/Meetings/Index" class="nav-link">
                                    <i class="nav-icon fas fa-people-carry"></i>
                                    <p>Toplantılar</p>
                                </a>    
                            </li>
                        }
                        @if (Context.Request.Cookies["Role"]!.Contains("admin"))
                        {
                            <li class="nav-item">
                                <a href="/Users/Index" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>Kullanıcılar</p>
                                </a>    
                            </li>
                        }
                        <li class="nav-item">
                            <a href="/Customers/Index" class="nav-link">
                                <i class="nav-icon fas fa-people-arrows"></i>
                                <p>Müşteriler</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Sales/Index" class="nav-link">
                                <i class="nav-icon fas fa-wallet"></i>
                                <p>Satışlar</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Auth/Logout" class="nav-link">
                                <i class="nav-icon fas fa-door-open"></i>
                                <p>Çıkış Yap</p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="/Auth/Login" class="nav-link">
                                <i class="nav-icon fas fa-door-closed"></i>
                                <p>Giriş Yap</p>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </aside>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="height: 100vh">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- jQuery -->
<script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/AdminLTE/plugins/jszip/jszip.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/AdminLTE/dist/js/demo.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>